@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar-track {
  height: 5px;
  border-radius: 10px;
  background-color: white;
}

.scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c49db3;
}

.h-rel-screen {
  min-height: calc(100vh - 8rem);
}
